/* =============== source code view =============== */

pre.code {
  margin-bottom: 1.5em;
  padding: 1em;
  background: #333;
  color: #eee;
  position: relative;
  border-radius: 3px;
}

.code-title {
  position: relative;
}

.code-title pre.code {
  padding-top: 2.4em;
}

.code-title::before {
  content: attr(data-title);
  padding: 0 1em;
  background: #666;
  color: #fff8e1;
  font-size: 0.8em;
  border-radius: 3px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}


/* =============== body =============== */

body {
  font-family: "Noto Sans Japanese", sans-serif;
}

/* =============== entry =============== */
.entry-title a {
  font-size: 26px;
}

.entry-content h2 {
    border-left: 10px solid #000;
    padding-left: 5px;
    font-size: 26px;
}

.entry-content .table-of-contents {
    background-color: rgb(245,248,250);
    padding: 15px;
    list-style: none;
}

.entry-content .table-of-contents li {
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
}

.entry-content .table-of-contents li:last-child {
    border-bottom: none;
}

.entry-content .table-of-contents a {
    text-decoration: none;
}

.entry-content p {
    font-size: 16px;
}

.archive-entry-header span.date-day {
    position: relative;
    top: 0;
}

/* =============== archive title =============== */
.page-archive #main-inner .entry-title {
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
}
.page-archive #main-inner h1 {
    margin: 0;
    margin-bottom: 10px;
}
